@using InvoiceApp.Data.RequestParameters;
@using InvoiceApp.ViewModels.Components;

@model PaginationViewModel

@{
}

<div class="container p-0 d-flex justify-content-start align-items-center gap-2">
    <span>Page:</span>

    <div style="width: 80px">
        <select class="page-list form-control mx-1 m">
            @for (int i = 0; i < Model.Data.PageCount; i++)
            {
                var pageNumber = i + 1;

                if (i == Model.Data.CurrentPage)
                {
                    <option selected>@pageNumber</option>
                    continue;
                };

                Model.RouteValues["Page"] = i.ToString();
                var path = Url.Action(Model.ActionName, Model.ControllerName, Model.RouteValues);

                <option data-path="@path">@pageNumber</option>
            }
        </select>
    </div>

    <span>of @Model.Data.PageCount</span>
</div>

<script>
    document.addEventListener('DOMContentLoaded', e => {
        const $pageList = document.querySelector('.page-list');

        $pageList.addEventListener('change', () => {
            const path = $pageList.options[$pageList.selectedIndex].dataset.path;

            if (!path) return;

            window.location.href = path;
        })
    });
</script>

