@using InvoiceApp.Identity.ViewModels;
@model UserViewModel;


<h2>Create new user</h2>

@await Html.PartialAsync("_UserForm", Model, new ViewDataDictionary(ViewData)
{
	{"Controller", "User"}, {"Action", "Create"}, {"ButtonName", "Create"}
})