@using InvoiceApp.Identity.ViewModels;
@model UserViewModel;


<h2>Edit user information</h2>

@await Html.PartialAsync("_UserForm", Model, new ViewDataDictionary(ViewData)
{
	{"Controller", "User"}, {"Action", "EditPost"}, {"ButtonName", "Save"}
})