
@{
	
}

<div class="container">
	<a asp-controller="User" asp-action="Create" class="btn btn-primary">Create</a>

	<a asp-controller="User" asp-action="List" class="btn btn-primary">Edit</a>

	<a asp-controller="User" asp-action="SignIn" class="btn btn-primary">Edit</a>
</div>