@using System.Text.Json;
@using InvoiceApp.ViewModels.User;

@model UserInfoViewModel;

@{
}

<h2>@Model.Header</h2>

<pre>@JsonSerializer.Serialize(Model.AppUser, new JsonSerializerOptions() { WriteIndented = true })</pre>

<br />
<hr />

<pre>@JsonSerializer.Serialize(Model.UserViewModel, new JsonSerializerOptions() { WriteIndented = true })</pre>