@using InvoiceApp.Helpers;
@using InvoiceApp.ViewModels.Company;

@model CompanyViewModel;

@{
	ViewData["Title"] = "Create company";
	var returnUrl = Context.Request.Query.GetByKey("returnUrl", Url.Action("Index", "Company"));
}


<h2>Create company</h2>
<hr class="mb-3"/>

@await Html.PartialAsync("_CompanyForm", Model, new ViewDataDictionary(ViewData)
{
	{"Controller", "Company"}, {"Action", "Create"}, {"ButtonName", "Create"}, {"returnUrl", returnUrl}
})

<div class="container my-3">
	<a href="javascript: history.go(-1)" class="link link-primary">Back</a>
</div>

