@using InvoiceApp.ViewModels.Company;

@model CompanyViewModel;

@{
	ViewData["Title"] = "Create company";
}


<h2>Create new company</h2>

@await Html.PartialAsync("_CompanyForm", Model, new ViewDataDictionary(ViewData)
{
	{"Controller", "Company"}, {"Action", "Create"}, {"ButtonName", "Create"}
})