@using InvoiceApp.Services.Interfaces;
@using InvoiceApp.ViewModels.Invoice;

@model InvoiceViewModel

@{
}

<h2>Create Invoice</h2>

@await Html.PartialAsync("_InvoiceForm", Model, new ViewDataDictionary(ViewData){
	{"Controller", "Invoice"}, {"Action", "Create"}, {"ButtonName", "Create"}
})