@using InvoiceApp.Services.Interfaces;
@using InvoiceApp.ViewModels.Invoice;

@inject ICompanyService _companyService;

@model InvoiceViewModel

@{
	ViewData["Title"] = "Invoice edit";
}

<h2>Create Invoice</h2>

@await Html.PartialAsync("_InvoiceForm", Model, new ViewDataDictionary(ViewData){
	{"Controller", "Invoice"}, {"Action", "Edit"}, {"ButtonName", "Save"}
})