@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a asp-controller="Invoice" asp-action="List" class="btn btn-primary">View Invoices</a>

<a asp-controller="Invoice" asp-action="Create" class="btn btn-primary">Create Invoice</a>

<a asp-controller="Company" asp-action="Index" class="btn btn-primary">Companies</a>