@{
    ViewData["Title"] = "Home Page";
    var isAuthenticated = Context.User?.Identity?.IsAuthenticated;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if ((isAuthenticated is null) || !isAuthenticated.Value)
    {
        <p>To use the application please <a asp-controller="User" asp-action="SignIn" class="link link-primary">sign in</a>.</p>
    }
</div>
