@using InvoiceApp.Data.Models;
@using InvoiceApp.Helpers;
@using System.Text.Json;
@using InvoiceApp.Types.Statistics;

@model RevenueYearStatistic[]

@{

}

<h2>Statistics</h2>

<pre>@JsonSerializer.Serialize(Model, new JsonSerializerOptions(){WriteIndented = true})</pre>

<div class="container">
  <canvas id="chart"></canvas>
</div  >


@*@section Scripts{
    <script>
      const ctx = document.getElementById('chart');
      const data = @Json.Serialize(data);

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: data.map(i=>i.month),
          datasets: [{
            data: data.map(i=>i.amount),
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
}*@



