td {
    padding: 0.2rem 0.2rem !important;
}

.table-wrapper {
    width: 100%;
}

    .table-wrapper table {
        width: 100% !important;
        min-width: 1140px !important;
    }


@media(max-width: 1200px) {
    .table-wrapper {
        overflow-y: hidden;
        overflow-x: scroll;
    }
}
