.input-validation-error {
    border-color: var(--bs-danger);
}

    .input-validation-error.form-control:focus {
        color: var(--bs-dark);
        background-color: #fff;
        border-color: var(--bs-danger);
        outline: 0;
        box-shadow: 0 0 0 0.25rem red;
    }

span.field-validation-valid {
    display: none;
}

.validation-summary-errors > ul {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    list-style: none !important;
}

.validation-summary-errors li {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
}
